@using MRIV.Enums
@using MRIV.Helpers
@model IEnumerable<MRIV.ViewModels.ApprovalStepViewModel>
@{
    var currentStep = ViewBag.CurrentStep as string;
}
<div class="row">
    <div class="col-md-12" style="">
        <ul class="bullet-line-list">
            @foreach (var step in Model)
            {
                <li>
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-12">
                            <h6 class="text-information">
                                <b>@step.StepNumber. @step.ApprovalStep</b>
                            </h6>
                            <hr />
                            <p class="text-muted mb-2 fw-bold">
                                <b>UPDATED ON:</b> @step.CreatedAt.ToString("dd MMM yyyy HH:mm")
                            </p>
                            <p class="text-muted">
                                <b>STATION:</b> @step.StationName
                            </p>
                            <p class="text-muted">
                                <b>DEPARTMENT:</b> @step.DepartmentName
                            </p>

                            <p class="text-muted" style="text-transform:uppercase">
                                <b>TO @step.ApprovalAction:</b>
                                @if (step.ApprovalStep != "Vendor Dispatch")
                                {
                                    @step.EmployeeName @:(@step.PayrollNo)
                                }
                                else
                                {
                                    @:ICT DISPATCH
                                }
                            </p>
                           
                            <p class="text-muted">
                                <b>STATUS:</b>
                                <span class=" ms-2 badge @BadgeHelper.GetApprovalsBadgeClass(step.ApprovalStatus)">
                                    @step.ApprovalStatus
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div> 