@model MRIV.ViewModels.ApprovalStepViewModel
@using MRIV.Enums
@using MRIV.Helpers

@{
    ViewData["Title"] = "Edit Approval";
}
<div class="contwrapper">
    <h4>Edit Approval Step</h4>
    <hr />
    <div class="row">

        <form asp-action="Edit" asp-controller="Approvals" method="post">
            @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-7">
                <!-- Hidden fields to ensure proper model binding for POST -->
                <input asp-for="Id" type="hidden"   />

                <div class="form-group">
                    <label class="control-label">Approval Step</label>
                    <h6 class="text-muted mb-0">@Model.StepNumber . @Model.ApprovalStep</h6>

                </div>
             
                        <div class="form-group">
                            <label class="control-label">Requisition Number</label>
                             <h6 class="text-muted mb-0">@ViewBag.RequisitionNumber</h6>
                        </div>
                   
                       
                  
                        <div class="form-group">
                    <label class="control-label">Department</label>
                            <h6 class="text-muted mb-2">@Model.DepartmentName</h6>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                STATUS:
                            </label>
                                <span class=" ms-2 badge @BadgeHelper.GetApprovalsBadgeClass(@Model.ApprovalStatus)">
                                    @EnumHelper.GetEnumDescription(Model.ApprovalStatus)
                                </span>
                            
                        </div>
              
                        <div class="form-group">
                    <label class="control-label">Edit Approver Details</label> <span class="requiredlabel">*</span>
                            <select asp-for="PayrollNo" class="formcontrol2" asp-items="ViewBag.DepartmentEmployees">
                                <option value="">-- Select Approver --</option>
                            </select>
                            <span asp-validation-for="PayrollNo" class="text-danger"></span>
                        </div>
               
                  
                      
                
               
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
            </form>
        
    </div>
</div>


