@model MRIV.Models.Tbrequisition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tbrequisition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedByApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedByApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqOfficerApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqOfficerApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingOfficerApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingOfficerApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fwdapprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fwdapprove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issued1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issued1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issuepoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issuepoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usepoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usepoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issuedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issuedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sysdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sysdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.External)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.External)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Externalmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Externalmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedSup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedSup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedRec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FwdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FwdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adminapprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adminapprove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminapproveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminapproveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receivedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receivedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collectorid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collectorid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collectorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collectorname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
