@model IEnumerable<MRIV.Models.MaterialCategory>

@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" class="btn btn-primary text-white mb-3 me-0  float-end">
    <div style="display: flex; align-items: center;">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 5px;"></i>
        <span>  Add Category</span>
    </div>
</a>
<div style="clear: both;"></div>
<div class=" contwrapper">
    <div class=" table-responsive" id="dataTable">
        <table id="table"
               data-toggle="table"
               data-icon-size="sm"
               data-buttons-class="primary"
               data-toolbar-align="right"
               data-buttons-align="left"
               data-search-align="left"
               data-sort-order="asc"
               data-search="true"
               data-mobile-responsive="true"
               data-sticky-header="true"
               data-pagination="true"
               data-page-list="[100, 200, 250, 500, ALL]"
               data-page-size="100"
               data-show-footer="false"
               data-side-pagination="client"
               data-show-export="true"
               class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOfMeasure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
