@model IEnumerable<MRIV.Models.MaterialCategory>

@{
    ViewData["Title"] = "Material Categories";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1"></h5>
                    <div class="flex-shrink-0">
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="search-box">
                                <input type="text" class="form-control search" placeholder="Search...">
                                <i class="ri-search-line search-icon"></i>
                            </div>

                            <!-- Filter Toggle Button -->
                          

                            <!-- Add other action buttons here -->
                            <a href="@Url.Action("Create", "MaterialCategories")" class="btn btn-primary">
                                <i class="ri-add-line align-bottom me-1"></i> New Category
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Filters Partial View -->
            
            <!-- Table Content -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle mb-0">
                        <!-- Your table headers and content here -->
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width: 80px;">
                                    Icon
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitOfMeasure)
                                </th>
                                <th style="width: 120px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td class="text-center">
                                        @if (item.Media.Any())
                                        {
                                            <img src="/@item.Media.First().FilePath" alt="@item.Name" class="rounded" style="height: 50px; width: 50px; object-fit: contain;" />
                                        }
                                        else
                                        {
                                            <img src="/uploads/defaultmaterialimage.svg" alt="Default" class="rounded" style="height: 40px; width: 40px; object-fit: contain;" />
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="View Details"><i class="mdi mdi-eye mdi-24px text-warning"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-delete mdi-24px text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
               
            </div>
        </div>
    </div>
</div>
