@{
    ViewData["Title"] = "Select Ticket";
    var currentStep = ViewBag.CurrentStep as string;
    @model MRIV.ViewModels.MaterialRequisitionWizardViewModel

}

<style>
    .auto-resize-textarea {
        resize: none;9
        overflow-y: hidden;
        min-height: 40px;
        white-space: pre-wrap;
    }
</style>
<div class="row">
    <!-- Personal Details Section -->
    <div class="col-md-10">
        <h4 class="ml-1"><b>Enter Requisition Details</b></h4>
        <hr style="border:2px solid black" />
    </div>
</div>

<form id="wizardForm" asp-controller="MaterialRequisition" asp-action="CreateRequisition">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"> Ticket ID</label>  <span class="requiredlabel">*</span>
                <input type="text" class="form-control form-control-sm " placeholder="" value="@Model.Requisition.TicketId" hidden />
                <select class="formcontrol2" readonly>
                    <option value=""> @Model.Requisition.TicketId</option>
                </select>
                <span asp-validation-for="Requisition.TicketId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Department</label>  <span class="requiredlabel">*</span>
                <select asp-for="Requisition.DepartmentId" class="formcontrol2"  readonly>
                    @if (Model.Department != null)
                    {
                        <option value="@Model.Department.DepartmentId">@Model.Department.DepartmentName</option>
                    }
                    else
                    {
                        <option value="">Department Not Found</option>
                    }
                </select>
                <span asp-validation-for="Requisition.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Requisition.PayrollNo" type="text" class="form-control form-control-sm " placeholder="" value="@Model.Employee.PayrollNo" hidden  />
            </div>
     
        </div>
        <div class="col-md-10">
            
        </div>
        <!-- Issue Category and Station -->
        <div class="col-md-5">
            <h5 class="ml-1" style="color:#324721"><b>FROM: Issue Point</b></h5>
            <hr style="height:5px;border-width:0;background-color:#324721;opacity:1 !important">
            <div class="form-group mb-3">
                <label class="control-label">Issue Station Category</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.IssueStationCategory" id="issueStationCategory" class="station-category formcontrol2">
                    <option value="">Select Category</option>
                    <option value="headoffice">Head Office</option>
                    <option value="factory">Factory</option>
                    <option value="region">Region</option>
                </select>
                <span asp-validation-for="Requisition.IssueStationCategory" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Issue Station</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.IssueStation" id="issueStation" class="station-dropdown formcontrol2">
                    <option value="">Select Station</option>
                </select>
                <span asp-validation-for="Requisition.IssueStation" class="text-danger"></span>
            </div>
        </div>

        <!-- Arrow -->
        <div class="col-md-1 text-center">
           <p></p>
        </div>

        <!-- Delivery Category and Station -->
        <div class="col-md-5">
            <h5 class="ml-1" style="color:#fcb900 "><b>TO: Delivery / Use Point</b></h5>
            <hr style="height:5px;border-width:0;background-color:#fcb900 ;opacity:1 !important">
            <div class="form-group mb-3">
                <label class="control-label">Delivery Station Category</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.DeliveryStationCategory" id="deliveryStationCategory" class="station-category formcontrol2">
                    <option value="">Select Category</option>
                    <option value="factory">Factory</option>
                    <option value="region">Region</option>
                    <option value="vendor">Vendor</option>
                    <option value="headoffice">Head Office</option>
                  
                </select>
                <span asp-validation-for="Requisition.DeliveryStationCategory" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Delivery Station</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.DeliveryStation" id="deliveryStation" class="formcontrol2">
                    <option value="">Select Station</option>
                </select>
                <span asp-validation-for="Requisition.DeliveryStation" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label"> Remarks</label><span class="requiredlabel">*</span>
                <textarea asp-for="Requisition.Remarks"
                          class="auto-resize-textarea form-control"
                          rows="1"
                          placeholder="Enter remarks..."></textarea>
                <span asp-validation-for="Requisition.Remarks" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" id="dispatch" style="display: none;">
            <div class="form-group mb-3">
                <label class="control-label">Dispatch done by</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.DispatchType" id="dispatchType" class="formcontrol2">
                    <option value="">Select Dispatch Method</option>
                    <option value="admin"> Administration Department</option>
                    <option value="vendor">Vendor</option>
                </select>
                <span asp-validation-for="Requisition.DispatchType" class="text-danger"></span>
            </div>
            <!-- Conditional Fields -->
            <!-- Admin Staff (initially hidden) -->
            <div class="form-group mb-3 admin-field" style="display: none;">
                <label class="control-label">Admin Staff</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.DispatchPayrollNo" id="dispatchPayrollNo" class="formcontrol2">
                    <option value="">Select Staff</option>
                    @foreach (var employee in Model.EmployeeBkps)
                    {
                        <option value="@employee.PayrollNo">@employee.Fullname - @employee.Designation</option>
                    }
                </select>
                <span asp-validation-for="Requisition.DispatchPayrollNo" class="text-danger"></span>
            </div>
            <!-- Vendor (initially hidden) -->
            <div class="form-group mb-3 vendor-field" style="display: none;">
                <label class="control-label">Vendor</label><span class="requiredlabel">*</span>
                <select asp-for="Requisition.DispatchVendor" id="dispatchVendor" class="formcontrol2">
                    <option value="">Select Vendor</option>
                    @foreach (var vendor in Model.Vendors)
                    {
                        <option value="@vendor.VendorID">@vendor.Name</option>
                    }
                </select>
                <span asp-validation-for="Requisition.DispatchVendor" class="text-danger"></span>
            </div>
        </div>
        <!-- Add the wizard buttons-->
        <partial name="_WizardNavigation" />
        </div>
</form>

