@model IEnumerable<MRIV.Models.WorkflowConfig>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" class="btn btn-primary text-white mb-3 me-0  float-end">
    <div style="display: flex; align-items: center;">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 5px;"></i>
        <span>  Add Configuration</span>
    </div>
</a>
<div style="clear: both;"></div>
<div class=" contwrapper">
    <div class=" table-responsive" id="dataTable">
        <table id="table"
               data-toggle="table"
               data-icon-size="sm"
               data-buttons-class="primary"
               data-toolbar-align="right"
               data-buttons-align="left"
               data-search-align="left"
               data-sort-order="asc"
               data-search="true"
               data-mobile-responsive="true"
               data-sticky-header="true"
               data-pagination="true"
               data-page-list="[100, 200, 250, 500, ALL]"
               data-page-size="100"
               data-show-footer="false"
               data-side-pagination="client"
               data-show-export="true"
               class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Issue Station</th>
            <th>Delivery Station</th>
            <th>Steps</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td>@item.Id</td>
            <td style="text-transform:capitalize">
                @Html.DisplayFor(modelItem => item.IssueStationCategory)
            </td>
            <td style="text-transform:capitalize">
                @Html.DisplayFor(modelItem => item.DeliveryStationCategory)
            </td>
                        <td>
                            @foreach (var step in item.Steps.OrderBy(s => s.StepOrder))
                            {
                                <div class="mb-1">
                                    @step.StepOrder.
                                    @step.StepName
                                </div>
                            }
                        </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye mdi-24px text-warning"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete mdi-24px text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
